@model LeaveSolution.Models.LoginViewModel


@{
    ViewData["Title"] = "Hello";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h5>FORGOT PASSWORD</h5>
<hr />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script type="text/javascript">
    $(document).ready(function () {


    })



</script>
<br />
<div class="container">

    @*<div class="containerCenter">
                <div>
                    <form asp-action="Login" method="post" class="form-horizontal">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="logo">
                            <img src="~/images/TATA Motors Bluecollar cropped.jpg" width="350" height="100" />
                        </div>
                        <br />
                        <div class="form-group row">
                            <div class="col-form-label col-sm-4" style="font-size:small">

                                <label asp-for="EmployeeID"></label>
                            </div>
                            <div class="col-form-label col-sm-4" style="font-size:small">
                                <input asp-for="EmployeeID" autocomplete="off" class="form-control" />
                                <span asp-validation-for="EmployeeID" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="text-align:center">

                                <button type="button" class="btn btn-primary " style="float: right; " data-toggle="modal" data-target="#SubmitID"><span class="glyphicon glyphicon-send"></span>  SUBMIT</button>
                            </div>

                            <div class="modal fade" id="SubmitID" tabindex="-1" role="dialog" aria-labelledby="NUserModalLabelFP">
                                <div class="modal-dialog modal-sm" style="background-color:aqua" role="dialog">
                                    <div class="modal-content" style="background-color:beige">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="NUserModalLabelFP" style="color:blue">Forgot Password</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body" style="font-size:small">
                                          We sent your password to your registered mobile number.
                                            <br />
                                            <span style="color:blue">
                                                Please don't share your password to anyone.
                                            </span>
                                            <br />
                                            <br />

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="location.href='@Url.Action("Login", "Account", new {  })';return false;"  id="ok"> OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>





        </div>
        </div>
        </form>
                        </div>

                </div>*@
</div>
