
@{
    ViewBag.Title = "Error";   
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template text-center">
                <h1>
                    Oops!
                </h1>
                <h2 style="color:red">
                    Error
                </h2>
                <div class="error-details">
                    <br> <h4>
                       500 - Error occured while processing your request.
                    </h4>
                </div>
                <br />
                <h4>
                    please contact ITSERVICEDESK at <strong>itservicedesk@tatamotors.com </strong> OR call <strong> 020 6623 4747 </strong>
                </h4>
                <br>               
            </div>
        </div>
    </div>
</section>

