@model BlueCollaredLeaveSolution.Models.LoginViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    //$(document).ready(function () { });

</script>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <div class="container">
                <img src="~/images/homepage.jpg" alt="Visual Studio" class="img-responsive" style="WIDTH: 101%;" />
            </div>
        </div>
    </div>
</div>

